

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    
    <style>
        
        .modal {
            display: none; 
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .modal-content {
            background-color: #fff;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            border-radius: 5px;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        .close:hover {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="whole">
        <div class="container">
            <div class="title">Login Form</div>
            <form action="/user/login" method="POST">
                <div class="row">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="email" placeholder="Email" required>
                </div>
                
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="pass"><a href="/forgot-password">Forgot Password?</a></div>
                
                <div class="row bottom">
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">Not a member? <a href="/signup">Signup Now</a></div>
            </form>
        </div>
    </div>

    
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('errorModal').style.display='none'">&times;</span>
            <h5>Notice</h5>
            <p id="modalMessage"><%= error || '' %></p>
        </div>
    </div>

    <script>
        
        window.onload = function() {
            const errorMessage = "<%= error %>";
            if (errorMessage) {
                document.getElementById('modalMessage').textContent = errorMessage;
                document.getElementById('errorModal').style.display = 'block';
            }
        };
    </script>
</body>
</html>
